.game {
    opacity: 0;
}

.card-parent {
    text-align: center;
}

.pre-game {
    margin-top: 15%;
}

.card {
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: transform;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #16a7792a;
}

.card:hover {
    transform: scale(1.05);
    background-color: #16a7795d;
}

html, body {margin: 0; height: 100%; overflow: hidden}

/* Mobile */
@media only screen and (max-width: 800px) {
    .game {
        opacity: 1;
    
    }
    
    .pre-game {
        display: none;
    }

    .col-tiles, .scores {
        display: none !important;
    }

    #othello td {
        width: 40px !important;
        height: 42px !important;
    }

    .sound {
        margin-top: 35px !important;
    }

    .info {
        margin-top: -10px !important;
    }

    .control {
        padding: 7px !important;
    }

    .control:hover {
        transform: none !important;
    }

}
* {
    font-family: "Lato" ,'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

h1 {
    font-family: 'Lobster';
    font-size: 50px;
    display: block;
    margin: 11px 0 17px 0;
    font-size: 60px;
    line-height: 60px;
    text-shadow: 0 10px 5px #b9c7c3,0 -1px 1px #fff;
    letter-spacing: -4px;
}

.control {
    position: absolute;
    right: 0px;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: white;
    border: 1px solid #BBB;
    width: 40px;
    top: 5%;
    cursor: pointer;
    transition-duration: 100ms;
    transition-property: transform;
}

.control-left {
    position: absolute;
    left: 0px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    border: 1px solid #BBB;
    width: 40px;
    top: 5%;
    cursor: pointer;
    transition-duration: 100ms;
    transition-property: transform;
}

.time {
    margin-top: 50px;
    width: 60px;
}

.sound {
    margin-top: 50px;
}

.fa-volume-up {
    display: none;
}

.control:hover, .control-left:hover {
    transform: scale(1.1);
}

.score-black, .score-white {
    font-family: 'Lobster';
    line-height: 480px;
    font-size: 80px;
    color: #444;
    text-shadow: 0 10px 5px #b9c7c3,0 -1px 1px #fff;
}

body {
    background: linear-gradient(90deg, #FDFDFD 21px, transparent 1%) center, linear-gradient(#FDFDFD 21px, transparent 1%) center, #16a779;
    background-size: 22px 22px;
}

.title {
    margin: 30px;
}

.letters {
    margin: 0 auto;
    width: fit-content;
}

.letter {
    width: 55px;
    padding: 5px;
    display: inline-block;
}

#othello {
    margin: 0 auto;
    background-color: #16a779;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.6);
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden; 
}

#othello td {
    width: 60px;
    height: 60px;
}

#othello .playable {
    cursor: pointer;
    border: 1px solid #BBB;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    border-radius: 50%;
}

#othello .playable:hover {
    background-color: #54c7a3;
}

.tile {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    border-radius: 50%;
    transition-duration: 100ms;
    transition-property: transform;
}

.tile:hover {
    transform: scale(1.05) !important;
}

.tile.black {
    background-color: #444 !important;
    border: 1px solid #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tile.white {
    background-color: #EFEFEF !important;
    border: 1px solid #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.score {
    margin: 0 auto;
    width: 75%;
    display: flex;
    margin-top: 10px;
    border: 1px solid #BBB;
    border-radius: 7px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.score > div {
    height: 40px;
    display: inline-block;
    padding: 6px;
    text-align: center;
    transition-duration: 200ms;
    transition-property: width;
    font-weight: bold;
}

.score .black {
    background-color: #444;   
    color: #EFEFEF;
    border-radius: 5px 0px 0px 5px;
}

.score .white {
    background-color: #EFEFEF;
    color: #444;
    border-radius: 0px 5px 5px 0px;
}

.tile-stock {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: -35px;
}

.tiles-stock-white .tile-stock {
    background-color: #EFEFEF;
}

.tiles-stock-black .tile-stock {
    background-color: #444;
}

.tiles-stock-black {
    float: right;
}

.tiles-stock-black, .tiles-stock-white {
    margin-top: 30px;
}

/* Timer */

.timer {
    position: relative;
    height: 10px;
    width: 70%;
    border: 1px solid #BBB;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
  
  .bar {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: #16a779;
    animation: countdown linear;
  }
  
  @keyframes countdown {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  /* pulse */

  .pulse .tile-stock:last-of-type, .pulse.black, .pulse.white{
    box-shadow: 0 0 0 rgba(22, 167, 121, 0.4);
    animation: pulse 1.5s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(22, 167, 121, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(22, 167, 121, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(22, 167, 121, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(22, 167, 121, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(22, 167, 121, 0);
        box-shadow: 0 0 0 20px rgba(22, 167, 121, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(22, 167, 121, 0);
        box-shadow: 0 0 0 0 rgba(22, 167, 121, 0);
    }
}

button.confirm {
    background-color: #16a779 !important;
}
  
.swal2-styled.swal2-confirm {
    background-color: #16a779 !important;
}
  
.wood {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding: 15px;
    background-color: #804040;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.6);
}