
* {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

body {
    background: linear-gradient(90deg, #FDFDFD 21px, transparent 1%) center, linear-gradient(#FDFDFD 21px, transparent 1%) center, #16a779;
    background-size: 22px 22px;
}

.title {
    margin: 30px;
}

.letters {
    margin: 0 auto;
    width: fit-content;
}

.letter {
    width: 55px;
    padding: 5px;
    display: inline-block;
}

#othello {
    margin: 0 auto;
    background-color: #16a779;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.6);
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden; 
}

#othello td {
    width: 60px;
    height: 60px;
}

#othello .playable {
    cursor: pointer;
    border: 1px solid #BBB;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    border-radius: 50%;
}

#othello .playable:hover {
    background-color: #54c7a3;
}

.tile {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    border-radius: 50%;
    transition-duration: 100ms;
    transition-property: transform;
}

.tile:hover {
    transform: scale(1.05);
}

.tile.black {
    background-color: #444 !important;
    border: 1px solid #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tile.white {
    background-color: #EFEFEF !important;
    border: 1px solid #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.score {
    margin: 0 auto;
    width: 480px;
    display: flex;
    margin-top: 20px;
    border: 1px solid #16a779;
    border-radius: 7px;
}

.score > div {
    height: 40px;
    display: inline-block;
    padding: 6px;
    text-align: center;
    transition-duration: 200ms;
    transition-property: width;
}

.score .black {
    background-color: #444;   
    color: #EFEFEF;
    border-radius: 5px 0px 0px 5px;
}

.score .white {
    background-color: #EFEFEF;
    color: #444;
    border-radius: 0px 5px 5px 0px;
}

.tile-stock {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: -15px;
}

.tiles-stock-white .tile-stock {
    background-color: #EFEFEF;
}

.tiles-stock-black .tile-stock {
    background-color: #444;
}

.tiles-stock-black {
    float: right;
}

.tiles-stock-black, .tiles-stock-white {
    margin-top: 30px;
}